<!---------------------------------------------------------HEADER---------------------------------------------------------------------->
        <!-- <header> -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <!---------------------------Logo------------------------------->
                <a class="navbar-brand" href="/feed">Instagram</a>
                

                <!----------------------------Search Bar------------------------------------->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                  </form>
                  <!--------------------------------Info------------------------------------------->
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"> <img class="avatar-image" src="<%=@avatar%>"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><%=@name%></a> <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Log Out", logOut_url, class: "nav-link",method: :post %>
                    
                    </li>
                    </li>
                  </ul>                  
                </div>
                </div>
              </nav>
              
        <!-- </header> -->