<div class="col-md-2 col-xs-2">
    <div class="container">
        <%= link_to 'Discover', discover_url, class: "link", :"data-turbolinks" => false %>
     
        <br>
        <%= link_to 'Feed', feed_url, class: "link", :"data-turbolinks" => false %>
    </div>
</div>