<div class="col-md-2 col-xs-2">
    <div class="container">
        <a href="/discover" class="link" data-turbolink='true'>Discover</a>
        <br>
        <a href="/feed" class="link" data-turbolink='true'>Feeds</a>
    </div>
</div>