<div class="col-md-2 col-xs-2">
            <div class="container">
                <a href="/admin/managePhoto" class="link">Manage Photos</a>
                <br>
                <a href="/admin/manageAlbum" class="link">Manage Album</a>
                <br>
                <a href="/admin" class="link active">Manage User</a>
            </div>
        </div>