<div class="col-md-2 col-xs-2">
  <div class="container">
    <%= link_to t('managePhotos'), admin_managePhoto_url, class: "link", id: "", :"data-turbolinks" => false %>
    <br>
    <%= link_to t('manageAlbums'), admin_manageAlbum_url, class: "link", id: "", :"data-turbolinks" => false %>
    <%if session[:admin]%>
      <br>
      <%= link_to t('admin'), admin_url, class: "link", id: "admin", :"data-turbolinks" => false %>
    <%end%>
  </div>
</div>