 
 <!----------------Header from layout-------------------->
<%= render "/layouts/adminHeader"%>
<main class="feed-body">
    <hr>
    <div class="row">
        <div class="col-md-2 col-xs-2">
            <div class="container">
                <a href="/admin/managePhoto" class="link">Manage Photos</a>
                <br>
                <a href="#" class="link">Manage Album</a>
                <br>
                <a href="#" class="link active">Manage User</a>
            </div>
        </div>
        <div class="col-md-8 col-xs-8 photo-body">
            <div class="container">
            <br />
                <%for photo in @photos%>
                    <img src="<%=photo.image.url%>" style="width: 250px; height: 250px; margin: 10px 10px 10px 10px;">
                <%end%>
                
            </div>
        </div>            
        <div class="col-md-2 col-xs-2">
            right
        </div>
    </div>
        
            
</main>