<!DOCTYPE html>
<html>
    <head>
        <title>Feed</title>
        <!-- style.css -->
   

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <!-- JQuery validate-->
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

        <!-- Bootrap 4-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Google fonts-->
        <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

        <!-- Load icon library -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <!--Javascript-->
  
    </head>

    <body id="feed" >
        <!---------------------------------------------------------HEADER---------------------------------------------------------------------->
        <!-- <header> -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <!---------------------------Logo------------------------------->
                <a class="navbar-brand" href="#">Instagram</a>
                

                <!----------------------------Search Bar------------------------------------->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                  </form>
                  <!--------------------------------Info------------------------------------------->
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"> <img class="avatar-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg"> <%=@name%> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Log out</a>
                    </li>
                    </li>
                  </ul>                  
                </div>
                </div>
              </nav>
              
        <!-- </header> -->

        <!--------------------------------------------------------BODY------------------------------------------------------------------>
        <main class="feed-body">
            <hr>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="container">
                        <a href="#" class="link">Discover</a>
                        <br>
                        <a href="#" class="link">Feeds</a>
                    </div>
                    
                </div>
                <div class="col-md-8 col-xs-8 photo-body">
                    <!----------------------------------HEADER BUTTON----------------------------------------->
                    <div class="row photo-body" >
                        <div class="col">
                            <button id="photo-button" href="#photo" type="button" role="tab" data-toggle="tab" class="btn btn-primary pull-right photo-button">PHOTO</button>
                        </div>    
                        <div class="col">
                            <button id="album-button" href="#album" type="button" role="tab" data-toggle="tab" class="btn btn-primary pull-left album-button">AlBUM</button>
                        </div>
                    </div>
                    <br>
                    <!-------------------------------------PHOTO---------------------------------------------->
                    <!----------------------Photo Tab--------------------->
                    <div class="tab-content"  >
                        <div role="tabpanel" class="tab-pane active" id="photo" >
                            <div class="wrap photo-body">
                                <!------------------------A photo----------------------------------->
                                <div></div>
                                <div class="photo-container shadow-sm rounded">
                                    <div class="row">
                                        <div class="col">
                                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg" class="photo-review-image">
                                        </div>
                                        <div class="col">
                                            <div class="review-header">
                                                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg" class="header-img">
                                                <p class="header-text text-primary">Tran Dao Si Manh</p>
                                            </div>
                                            <div class="review-body">
                                                <p class="header-text">The Body</p>
                                                <p>Contents</p>
                                            </div>
                                            <div class="review-footer">
                                                <i class="fas fa-heart"> 123</i>             
                                                <div class="date ml-auto">5pm 23/5/2019</div>                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!------------------------END PHOTO------------------------------------------>
                               
                            <!------------------------A photo----------------------------------->
                            <div></div>
                            <div class="photo-container shadow-sm rounded">
                                <div class="row">
                                    <div class="col">
                                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg" class="photo-review-image">
                                    </div>
                                    <div class="col">
                                        <div class="review-header">
                                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg" class="header-img">
                                            <p class="header-text text-primary">Tran Dao Si Manh</p>
                                        </div>
                                        <div class="review-body">
                                            <p class="header-text">The Body</p>
                                            <p>Contents</p>
                                        </div>
                                        <div class="review-footer">
                                            <i class="fas fa-heart"> 123</i>             
                                            <div class="date ml-auto">5pm 23/5/2019</div>                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------------END PHOTO------------------------------------------>
                            <!------------------------A photo----------------------------------->
                            <div></div>
                            <div class="photo-container shadow-sm rounded">
                                <div class="row">
                                    <div class="col">
                                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg" class="photo-review-image">
                                    </div>
                                    <div class="col">
                                        <div class="review-header">
                                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg" class="header-img">
                                            <p class="header-text text-primary">Tran Dao Si Manh</p>
                                        </div>
                                        <div class="review-body">
                                            <p class="header-text">The Body</p>
                                            <p>Contents</p>
                                        </div>
                                        <div class="review-footer">
                                            <i class="fas fa-heart"> 123</i>             
                                            <div class="date ml-auto">5pm 23/5/2019</div>                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------------END PHOTO------------------------------------------>    
                            </div>
                            
                           
                               
                        </div>
                        <!----------------------Album Tab--------------------->
                        <div role="tabpanel" class="tab-pane" id="album">cc</div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    right
                </div>
            </div>
        
            
        </main>
    </body>
     <!-- Java Script -->
    
</html>