<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        
  
    </head>

    <body id="feed" >
        <!---------------Header from Layput-------------->
        <%= render "/layouts/header"%>
        <!--------------------------------------------------------BODY------------------------------------------------------------------>
        <main class="feed-body">
            <hr>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="container">
                        <a href="#" class="link">Discover</a>
                        <br>
                        <a href="#" class="link">Feeds</a>
                    </div>
                    
                </div>
                <div class="col-md-8 col-xs-8 photo-body">
                    <div class="container">
                    <br />
                    <div class="row">
                   
                        <div class="col-md-2">
                            <img class="profile-avatar" 
                                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-water-drops-on-pink-flower-royalty-free-image-1129286570-1550867689.jpg">
                        </div>
                        <div class="col-mid-8">
                            <a href="profile/editProfile"><button class="btn btn-primary" id="edit-profile">Edit profile</button></a>
                            <h2 class="text-primary"><%= @fullName %></h2>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#photo">Photo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#album">Album</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#following">Following</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#follower">Followers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="photo">Photo</div>
                        <div class="tab-pane container fade" id="album">Album</div>
                        <div class="tab-pane container fade" id="following">Following</div>
                        <div class="tab-pane container fade" id="follower">Followers</div>
                    </div>
                </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    right
                </div>
            </div>
        
            
        </main>
    </body>
     <!-- Java Script -->
    
</html>